---
- name: Restart chronyd
  ansible.builtin.systemd:
    name: chronyd
    state: restarted
    enabled: true

- name: Restart journald
  ansible.builtin.systemd:
    name: systemd-journald
    state: restarted
