---
# SSH hardening configuration

- name: Configure SSH daemon
  ansible.builtin.template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: "{{ hardening_permissions_etc_ssh_sshd_config }}"
    validate: /usr/sbin/sshd -t -f %s
    backup: true
  notify: restart sshd

- name: Configure SSH banner
  ansible.builtin.copy:
    content: "{{ hardening_banner_text }}"
    dest: /etc/issue.net
    owner: root
    group: root
    mode: '0644'
  when: hardening_banner_enabled

- name: Configure local login banner
  ansible.builtin.copy:
    content: "{{ hardening_banner_text }}"
    dest: /etc/issue
    owner: root
    group: root
    mode: '0644'
  when: hardening_banner_enabled

- name: Remove small Diffie-Hellman moduli
  ansible.builtin.shell: |
    awk '$5 >= 3071' /etc/ssh/moduli > /etc/ssh/moduli.safe
    mv /etc/ssh/moduli.safe /etc/ssh/moduli
  args:
    creates: /etc/ssh/.moduli_hardened
  register: moduli_result

- name: Mark moduli as hardened
  ansible.builtin.file:
    path: /etc/ssh/.moduli_hardened
    state: touch
    mode: '0644'
  when: moduli_result.changed

- name: Ensure SSH host keys have correct permissions
  ansible.builtin.file:
    path: "{{ item }}"
    owner: root
    group: root
    mode: '0600'
  loop:
    - /etc/ssh/ssh_host_rsa_key
    - /etc/ssh/ssh_host_ecdsa_key
    - /etc/ssh/ssh_host_ed25519_key
  ignore_errors: true

- name: Ensure SSH public keys have correct permissions
  ansible.builtin.file:
    path: "{{ item }}"
    owner: root
    group: root
    mode: '0644'
  loop:
    - /etc/ssh/ssh_host_rsa_key.pub
    - /etc/ssh/ssh_host_ecdsa_key.pub
    - /etc/ssh/ssh_host_ed25519_key.pub
  ignore_errors: true
